<div class="container-fluid">
    <div class="row">

        <div class="first">
           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
              <h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">New title</h5>
           </div>

           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
              <button class="button1">Not approved</button>
           </div>

           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
              <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label>
           </div>
        </div>
        <!--...................................................-->

        <div class="second">
            <div class="second1">
                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
                    <h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Distressed crew necked winter wear</h5>
                 </div>
 
                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
                    <button class="button1">Not approved</button>
                 </div>
 
                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                 </div>
            </div>

            <div class="second2">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;margin-top: 10px;" >
                    <button class="button2">Original price:300</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;margin-top: 10px;">
                    <button class="button2">Total price:140</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;margin-top: 10px;">
                    <button class="button2">Dry clean price:10</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"style="text-align: center;margin-top: 10px;">
                    <button class="button2">Lend price per week:120</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"style="text-align: center;margin-top: 10px;">
                    <button class="button2">Owner price per week:0</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"style="text-align: center;">

                </div>

            </div>
        </div>
      
        <!--........................................................-->

        <div class="third">

            <div class="third1">

                <div class="row1">
                      <div class="col-sm-6">
                      <h5 style="margin-left: 20px;"><b>Brand:</b>Puma</h5>
                      </div>

                      <div class="col-sm-6">
                      <h5 style="margin-left: 20px;"><b>Care:</b>DRY CLEAN ONLY</h5>
                     </div>
                </div>
                <div class="row1">
                      <div class="col-sm-6">
                      <h5 style="margin-left: 20px;"><b>Category:</b>Top</h5>
                      </div>
                      <div class="col-sm-6">
                      <h5 style="margin-left: 20px;"><b>color:</b>black</h5>
                      </div>
                </div>
                <div class="row1">
                      <div class="col-sm-6">
                      <h5 style="margin-left: 20px;"><b>Material:</b>Cotton</h5>
                      </div>
                      <div class="col-sm-6">
                      <h5 style="margin-left: 20px;"><b>Size:</b>30</h5>
                      </div>
                </div>
                
            </div>
        </div>
        <!--....................................................................-->
        <div class="first">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
               <h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Classic puma Hoodle Black</h5>
            </div>
 
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
               <button class="button1">Not approved</button>
            </div>
 
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
               <label class="switch">
                   <input type="checkbox">
                   <span class="slider round"></span>
               </label>
            </div>
         </div>
        
       <!--....................................................................-->
       <div class="first">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
           <h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Shirt</h5>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
           <button class="button3">Approved</button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
           <label class="switch">
               <input type="checkbox">
               <span class="slider round"></span>
           </label>
        </div>
     </div>

    <!--....................................................................-->
    <div class="first">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
           <h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Test product</h5>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
           <button class="button3">Approved</button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
           <label class="switch">
               <input type="checkbox">
               <span class="slider round"></span>
           </label>
        </div>
     </div>

    

    
    </div>
    </div>