
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRODUCT BOOKING</title>
</head>

<body>
<div class="myform">

  
  <h3 style="color: tomato;text-align: center;">PRODUCT DETAILS</h3>
  
  <form #bookproduct="ngForm" (ngSubmit)="submitFunction(bookproduct)">

  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="myserv.selectedproduct._id"><br><br>

 
  <div>
  <label>Name:</label>
  <input type="text" name="name" #name="ngModel"  placeholder="Enter product name" [(ngModel)]="myserv.selectedproduct.name" required><br><br>
</div>

   
  <div>
     <label>Status:</label>
  <input type="text" name="status" #status="ngModel"  placeholder="Enter status" [(ngModel)]="myserv.selectedproduct.status"><br><br> 
    </div>

    <div>
     <label>Price:</label>
    <input type="text" name="price" #price="ngModel" placeholder="Enter price" [(ngModel)]="myserv.selectedproduct.price"><br><br>
   </div>

    <div>
     <label>Brand:</label>
  <input type="text" name="brand" #brand="ngModel"  placeholder="Enter brand" [(ngModel)]="myserv.selectedproduct.brand"><br><br>
    </div>

     <div>
     <label>Care:</label>
  <input type="text" name="care" #care="ngModel" placeholder="Care" [(ngModel)]="myserv.selectedproduct.care"><br><br>
   </div>

    <div>
     <label>Category:</label>
  <input type="text" name="category" #category="ngModel" placeholder="Enter category" [(ngModel)]="myserv.selectedproduct.category"><br><br>
    </div>

    <div>
     <label>Colour:</label>
  <input type="text" name="colour" #colour="ngModel" placeholder="Enter colour" [(ngModel)]="myserv.selectedproduct.colour"><br><br>
   </div>

    <div>
     <label>Material:</label>
  <input type="text" name="material" #material="ngModel" placeholder="material" [(ngModel)]="myserv.selectedproduct.material"><br><br>
    </div>

    <div>
     <label>Size:</label>
  <input type="text" name="size" #size="ngModel" placeholder="Your size" [(ngModel)]="myserv.selectedproduct.size"><br><br>
    </div>

 
 
    
  <button type="button" (click)="resetTable(bookproduct)">Reset</button>
  <button type="Submit" style="margin-left: 5px;" [disabled]="!bookproduct.valid">Submit</button>

</form>

</div>
</body>
</html>

