<div class="sidenav">
 
    <ul>
          <li><div class="dropdown">
            <button class="dropbtn"><span style="color: white;"> Products </span>
             
            </button>
            <div class="dropdown-content">
              <a href="Link 2" ><small>Book product</small> </a>
              <a href="Link 3"><small>Product list</small> </a>
              <a href="Link 4"><small> Update list</small></a>
              <a href="Link 5"><small>Delete list</small> </a>
              <a href="Link 6"><small>Date picker</small> </a>

            </div>
            
          </div> </li><br><br>
          <li><a href="#Category">Category</a></li><br><br>
          <li><a href="#Brand">Brand</a></li><br><br>
          <li><a href="#Banner">Banner</a></li><br><br>
          <li><a href="#Logout">Logout</a></li><br><br>
    
    
      </ul>
    </div>